<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{% block title %}{% endblock %}</title>
        {% load static %}
        <link href="{% static '/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-default offset-3 col-6 p-2 bg-dark" role="navigation">
                <div class="container-fluid">
                    <a class="navbar-brand text-light" href="/"><h2>Bajet</h2></a>
                </div>
            </nav>
            {% if messages %}
                <div class="row">
                    <div class="offset-3 col-6">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.level_tag }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="container">
            <div class="offset-3 col-6 bg-light">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb ps-4">
                        {% block breadcrumbs %}{% endblock %}
                    </ol>
                </nav>
                <div class="p-4">
                    {% block main_content %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>