{% extends 'base.html' %}

{% block title %}Expenses Home{% endblock %}

{% block breadcrumbs %}
    <p><u>Expenses Home</u></p>
{% endblock %}
{% block main_content %}
<div class="row">
    <h2>Quick New Expense</h2>
    <form method="POST" action=".">
        {{ form.as_p }}
        {% csrf_token %}
        {% if form.errors %}
        <div class="form-group has-error">
            <span class="help-block">{{ form.text.errors }}</span>
        </div>
        {% endif %}
        <button id="id_new_expense_add" class="form-control">Add</button>
    </form>
</div>
<div class="row pt-4">
    <h2>Recent Expenses</h2>
    <table id="id_recent_expenses_table" class="table">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Expense</th>
                <th scope="col">Amount</th>
            </tr>
        </thead>
        <tbody>
        {% for expense in recent_expenses %}
            <tr>
                <td class="col-3">{{ expense.date }}</td>
                <td class="col-6">{{ expense.name }}</td>
                <td class="col-3">{{ expense.amount }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
