{% extends 'base.html' %}

{% block title %}Expenses Home{% endblock %}

{% block main_content %}
    <h1>Expenses Home</h1>
    <form method="POST" action=".">
        {{ form.as_p }}
        {% csrf_token %}
        {% if form.errors %}
        <div class="form-group has-error">
            <span class="help-block">{{ form.text.errors }}</span>
        </div>
        {% endif %}
        <button id="id_new_expense_add">Add</button>
    </form>
    <h2>Recent Expenses</h2>
    <table id="id_recent_expenses_table">
        <tbody>
        {% for expense in recent_expenses %}
            <tr>
                <td>{{ expense.date }}</td>
                <td>{{ expense.name }}</td>
                <td>{{ expense.amount }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
