{% extends "base.html" %}

{% block main_content %}
    <h2>{{ expense }}</h2>
    <h3>{{ expense.amount }} {% if expense.is_reconciled %}OK{% endif %}</h3>
    {% if expense.items.all %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">item</th>
                <th scope="col">price</th>
                <th scope="col">quantity</th>
                <th scope="col">total</th>
            </tr>
        </thead>
        <tbody>
            {% for expense_item in expense.items.all %}
            <tr>
                <th scope="row">{{ expense_item.item }}</th>
                <td>{{ expense_item.price }}</td>
                <td>{{ expense_item.quantity }}</td>
                <td>{{ expense_item.total }}</td>
            </tr>
            {% endfor %}
            <tr class="table-secondary">
                <th scope="row">TOTAL</th>
                <td></td>
                <td></td>
                <td>{{ expense.items_total_price }}</td>
            </tr>
        </tbody>
    </table>
    {% endif %}
{% endblock %}
